shellingham==1.5.4
tqdm==4.66.4
pypdf==5.2.0
cymem==2.0.11
transformer-smaller-training-vocab==0.4.0
opencv-python-headless==4.11.0.86
arrow==1.3.0
strictyaml==1.7.3
async-lru==2.0.4
bioc==2.1
coloredlogs==15.0.1
uri-template==1.3.0
keybert==0.9.0
humanfriendly==10.0
rfc3339-validator==0.1.4
executing==2.1.0
pexpect==4.9.0
azure-ai-textanalytics==5.3.0
absl-py==2.1.0
pandas==2.2.3
opentelemetry-exporter-otlp-proto-grpc==1.30.0
virtualenv==20.29.1
bcrypt==4.0.1
msgspec==0.19.0
interegular==0.3.3
partial-json-parser==0.2.1.1.post5
python-socketio==5.12.1
fqdn==1.5.1
decorator==5.1.1
astor==0.8.1
python-multipart==0.0.9
importlib_metadata==8.5.0
lemminflect==0.2.3
mmh3==5.1.0
langchain-graph-retriever==0.4.4
azure-ai-ml==1.18.0
babel==2.17.0
tzdata==2024.1
traitlets==5.14.3
language_data==1.3.0
msal-extensions==1.2.0
lm-format-enforcer==0.10.9
aiohttp==3.9.5
zstandard==0.23.0
reportlab==4.2.2
nest_asyncio==1.6.0
Markdown==3.7
distlib==0.3.9
kiwisolver==1.4.8
vllm==0.6.6.post1
azure-common==1.1.28
diskcache==5.6.3
ptyprocess==0.7.0
aiosignal==1.3.1
azure-functions==1.21.3
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
PyYAML==6.0.1
PyMuPDF==1.24.9
beartype==0.19.0
nltk==3.9.1
setuptools==69.5.1
lxml==5.3.0
python-crontab==3.2.0
duckduckgo_search==7.5.0
simple-websocket==1.1.0
spacy==3.8.4
toml==0.10.2
azure-storage-file-datalake==12.16.0
faiss-cpu==1.10.0
overrides==7.7.0
airportsdata==20241001
parso==0.8.4
webencodings==0.5.1
colorama==0.4.6
httptools==0.6.1
tokenizers==0.21.0
tinycss2==1.4.0
azure-search-documents==11.6.0b4
ipython==8.31.0
zipp==3.21.0
intervaltree==3.1.0
hf-xet==1.1.5
cohere==5.15.0
pyasn1==0.6.0
python-docx==1.1.2
PyMuPDFb==1.24.9
immutabledict==4.2.1
msgpack==1.1.0
ftfy==6.3.1
outlines==0.1.11
defusedxml==0.7.1
referencing==0.35.1
opentelemetry-proto==1.30.0
httpcore==1.0.5
requests==2.32.3
Werkzeug==3.0.3
langsmith==0.3.5
pickleshare==0.7.5
httpx-sse==0.4.0
opentelemetry-api==1.30.0
botocore==1.35.10
cryptography==43.0.3
pydantic==2.10.6
langchain-text-splitters==0.3.5
spacy-legacy==3.0.12
transformers==4.53.1
rpds-py==0.19.1
soupsieve==2.6
torchaudio==2.6.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
pytest==8.3.4
azure-storage-file-share==12.17.0
multidict==6.0.5
bitsandbytes==0.42.0
flair==0.15.1
six==1.16.0
six==1.17.0
Flask-SocketIO==5.5.0
mypy-extensions==1.0.0
aiosmtplib==4.0.1
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
huggingface-hub==0.33.2
gdown==5.2.0
segtok==1.5.11
azure-search==1.0.0b2
langchain-core==0.3.33
graph-retriever==0.4.4
jedi==0.19.2
attrs==23.2.0
spacy-loggers==1.0.5
joblib==1.4.2
typing-inspect==0.9.0
s3transfer==0.10.2
google-api-core==2.19.1
packaging==24.1
packaging==24.2
pyasn1_modules==0.4.0
jupyterlab==4.3.6
prometheus-fastapi-instrumentator==7.0.2
typer==0.12.3
detoxify==0.5.2
itsdangerous==2.2.0
PySocks==1.7.1
fastapi-cli==0.0.4
azure-identity==1.17.1
catalogue==2.0.10
jupyter_client==8.6.3
iniconfig==2.0.0
rich==13.9.4
pip==24.0
asttokens==3.0.0
kubernetes==32.0.0
psutil==5.9.0
psutil==6.0.0
fsspec==2024.6.1
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
fastjsonschema==2.21.1
ray==2.41.0
exceptiongroup==1.2.2
chroma-hnswlib==0.7.6
googlemaps==4.10.0
bert-score==0.3.13
compressed-tensors==0.8.1
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
pyzmq==26.2.0
appnope==0.1.4
mistral_common==1.5.2
peft==0.15.0
regex==2024.7.24
setproctitle==1.3.6
outlines_core==0.1.26
aiohttp-cors==0.7.0
opencensus-ext-logging==0.1.1
jupyter_server==2.15.0
lark==1.2.2
nvidia-ml-py==12.570.86
fastavro==1.11.1
blake3==1.0.4
word2number==1.1
uvicorn==0.30.3
weasel==0.4.1
urllib3==2.2.2
safetensors==0.4.3
confection==0.1.5
debugpy==1.6.7
langchain-community==0.3.16
editdistance==0.8.1
jieba==0.42.1
tenacity==9.0.0
blinker==1.8.2
jsonschema==4.23.0
opentelemetry-sdk==1.30.0
pdfminer.six==20231228
msrest==0.7.1
proto-plus==1.24.0
nbformat==5.10.4
stack_data==0.6.3
argon2-cffi==23.1.0
tensorboard==2.19.0
python-engineio==4.11.2
portalocker==2.10.1
llama_cpp_python==0.3.7
asgiref==3.8.1
threadpoolctl==3.5.0
yarl==1.9.4
rouge_score==0.1.2
pypdfium2==4.30.0
dataclasses-json==0.6.7
oauthlib==3.2.2
multiprocess==0.70.16
lru-dict==1.3.0
jsonlines==4.0.0
langdetect==1.0.9
pytorch_revgrad==0.2.0
passlib==1.7.4
opencensus-ext-azure==1.1.13
uvloop==0.19.0
opentelemetry-instrumentation-fastapi==0.51b0
aiofiles==24.1.0
pptree==3.1
jupyter_core==5.7.2
python-dotenv==1.0.1
xxhash==3.5.0
nbconvert==7.16.6
jmespath==1.0.1
gym-notices==0.0.8
bidict==0.23.1
googleapis-common-protos==1.63.2
Send2Trash==1.8.3
pinyin==0.4.0
jupyter-lsp==2.2.5
cffi==1.16.0
nbclient==0.10.2
gitdb==4.0.12
Deprecated==1.2.18
sniffio==1.3.1
grpcio==1.70.0
opentelemetry-util-http==0.51b0
marshmallow==3.21.3
mdurl==0.1.2
fonttools==4.56.0
einops==0.8.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
build==1.2.2.post1
flatbuffers==25.1.24
azure-core==1.30.2
num2words==0.5.14
py-spy==0.4.0
preshed==3.0.9
sortedcontainers==2.4.0
rsa==4.9
wcwidth==0.2.13
widgetsnbextension==4.0.13
torch==2.6.0
charset-normalizer==3.3.2
tzlocal==5.2
srsly==2.5.1
chardet==5.2.0
opencensus-context==0.1.3
jupyter-events==0.12.0
langchain-experimental==0.3.4
json5==0.10.0
evaluate==0.4.3
anyio==4.4.0
wasabi==1.1.3
boto3==1.35.10
trl==0.19.0
pdfplumber==0.11.3
jupyterlab_server==2.27.3
pydantic_core==2.27.2
feedparser==6.0.11
markdown2==2.5.3
opentelemetry-exporter-otlp-proto-common==1.30.0
docopt==0.6.2
webcolors==24.11.1
certifi==2024.7.4
chromadb==0.6.3
starlette==0.37.2
prompt_toolkit==3.0.48
msal==1.30.0
anytree==2.12.1
pycparser==2.22
pymongo==4.8.0
pydash==8.0.3
sqlitedict==2.1.0
cycler==0.12.1
ipywidgets==8.1.5
PyJWT==2.8.0
idna==3.7
Jinja2==3.1.6
opencensus==0.11.4
langcodes==3.5.0
pluggy==1.5.0
timedelta==2020.12.3
soundfile==0.13.1
language_tool_python==2.9.0
sentence-transformers==3.1.1
torchvision==0.21.0
pyarrow==19.0.1
azure-cosmos==4.7.0
dill==0.3.8
motor==3.5.1
wheel==0.43.0
comm==0.2.2
tiktoken==0.7.0
Flask==3.0.3
primp==0.14.0
marisa-trie==1.2.1
websockets==12.0
smolagents==1.9.2
depyf==0.18.0
opentelemetry-instrumentation==0.51b0
pure_eval==0.2.3
langchain==0.3.17
tornado==6.4.2
json_repair==0.39.1
cachetools==5.4.0
distro==1.9.0
mpld3==0.5.10
dnspython==2.6.1
cloudpickle==3.1.1
datasets==3.3.2
pyparsing==3.2.1
SQLAlchemy==2.0.37
jiter==0.8.2
frozenlist==1.4.1
docker-pycreds==0.4.0
protobuf==5.27.2
watchfiles==0.22.0
rfc3986-validator==0.1.1
opentelemetry-semantic-conventions==0.51b0
onnxruntime==1.20.1
python-json-logger==3.3.0
smart-open==7.1.0
terminado==0.18.1
pydantic-settings==2.7.1
sentry-sdk==2.29.1
requests-toolbelt==1.0.0
contourpy==1.3.1
wrapt==1.17.2
orjson==3.10.15
docker==7.1.0
httpx==0.27.0
sympy==1.13.1
argon2-cffi-bindings==21.2.0
py-cpuinfo==9.0.0
markdownify==1.0.0
typing_extensions==4.12.2
google-auth==2.32.0
murmurhash==1.0.12
Wikipedia-API==0.8.1
scipy==1.14.1
matplotlib-inline==0.1.7
smmap==5.0.2
sentencepiece==0.2.0
matplotlib==3.10.1
email_validator==2.2.0
textattack==0.3.10
monotonic==1.6
pycountry==24.6.1
backoff==2.2.1
tensorboard-data-server==0.7.2
pdf2image==1.17.0
notebook==7.3.3
posthog==3.11.0
mistune==3.1.2
sgmllib3k==1.0.0
arxiv==2.2.0
gguf==0.10.0
types-requests==2.32.4.20250611
wandb==0.19.11
jupyter_server_terminals==0.5.3
types-python-dateutil==2.9.0.20241206
terminaltables==3.1.10
bleach==6.2.0
pyproject_hooks==1.2.0
azure-ai-inference==1.0.0b9
opentelemetry-instrumentation-asgi==0.51b0
beautifulsoup4==4.12.3
blis==1.2.0
platformdirs==4.3.6
more-itertools==10.6.0
ipykernel==6.29.5
openai==1.61.0
cloudpathlib==0.20.0
colorful==0.5.6
gym==0.26.2
pytz==2025.1
annotated-types==0.7.0
accelerate==1.8.1
wsproto==1.2.0
filelock==3.17.0
scikit-learn==1.5.2
PyPDF2==3.0.1
azure-storage-blob==12.21.0
numpy==2.2.3
PyPika==0.48.9
isodate==0.6.1
Pygments==2.18.0
requests-oauthlib==2.0.0
importlib_resources==6.5.2
thinc==8.3.4
durationpy==0.9
O365==2.0.36
tabulate==0.9.0
notebook_shim==0.2.4
conllu==4.5.3
OpenHowNet==2.0
azure-mgmt-core==1.4.0
websocket-client==1.8.0
fastapi==0.111.1
MarkupSafe==3.0.2
